.R*
ME_114_Ken_github.Rproj
*.Rproj
.Rd2pdf*
__MACOSX
.DS_Store
.Rproj.user
inst/doc
.Rhistory
.RData
*UNUSED.Rmd
*OLD*
data_science_quiz.Rmd
ME414_assignment1_solution.Rmd
ME414_assignment2_solution.Rmd
ME414_assignment2_solution.R
ME414_assignment3_solution.Rmd
ME414_assignment4_solution.Rmd
ME414_assignment5_solution.Rmd
ME414_assignment6_solution.Rmd
ME414_assignment7_solution.Rmd